<html>
	<head>
		<title>My Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href=""> My Django Girls Blog</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">Really?! My first post</a></h2>
			<p>Ok! this is my first blog post, kinda powered by Djangogirls ilorin, google developers, Pythonanywhere, github etc. so excited!.</p>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>what do you ladies think of an African fashion in the western world?.</p>
		</div>
	</body>
</html>